<button class="toggle" (click)="switcTheme()">
  {{theme === "light-theme" ? "Switch to dark" : "Switch to light"}}
</button>

<div class="box">
  <h1 class="header">Header Text</h1>
  <div class="paragraph">
    Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam
    vulputate dapibus.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Suco de cevadiss, é um leite divinis,
    qui tem lupuliz, matis, aguis e fermentis.Detraxit consequat et quo num tendi nada.
  </div>
</div>
<div class="box">
  <h1 class="header">Header Text</h1>
  <div class="paragraph">
    Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam
    vulputate dapibus.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Suco de cevadiss, é um leite divinis,
    qui tem lupuliz, matis, aguis e fermentis.Detraxit consequat et quo num tendi nada.
  </div>
</div>
<div class="box">
  <h1 class="header">Header Text</h1>
  <div class="paragraph">
    Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam
    vulputate dapibus.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Suco de cevadiss, é um leite divinis,
    qui tem lupuliz, matis, aguis e fermentis.Detraxit consequat et quo num tendi nada.
  </div>
</div>

<router-outlet></router-outlet>